{% extends 'header.j2' %}{% block content %}
    <request verb="Identify">{{ project_data.base_url }}</request> 
    <Identify>
        <repositoryName>{{ project_data.project_title }}</repositoryName>
        <baseURL>{{ project_data.base_url }}</baseURL>
        <protocolVersion>2.0</protocolVersion>
        <adminEmail>acdh-tech@oeaw.ac.at</adminEmail>
        <earliestDatestamp>{{ current_date_time }}</earliestDatestamp>
        <deletedRecord>no</deletedRecord>
        <granularity>YYYY-MM-DDThh:mm:ssZ</granularity>
    </Identify>
{% endblock content %}
