*, :after, :before {
    box-sizing: border-box;
}

span {
    display: inline;
}

cite {
    font-style: normal;
}

#wrapper-hero-content {
    padding: 0;
}

.intro {
    background-color: #fff;
}

.intro .col-md-6 {
    padding: 0;
}

.wp-intro_left {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.intro_left {
    display: block;
    margin: 2em auto;
    padding: 0 15%;
}

body {
    border-style: solid;
    border-top-width: 0;
    min-height: 100vh;
    display: flex;
    overflow-x: hidden;
}

p {
    display: block;
    padding: 0;
}

a {
    text-decoration: none !important;
}

.site>* {
    width: 100%;
}

.site {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    max-width: 100%;
}

.container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    max-width: 1200px;
}

.italic {
    font-style: italic;
}
  
.bold {
    font-weight: bold;
}

.smallcaps {
    text-transform: uppercase;
    letter-spacing: .5em;
}

.nounderline {
    text-decoration: none;
}

#viewer {
    position: fixed;
    padding: 2em;
}

.entity {
    cursor: pointer;
}

.modal-body table tbody tr th, .modal-body table tbody tr td {
    border: none;
}

#wrapper-footer-full {
    margin-top: auto;
    display: flex;
    background-color:#fff;
    z-index: 999;
}

sup {
    margin-left: -4px;
}

.card {
    margin: 2em auto;
}

a.anchor, .anchor-pb {
    position: relative;
    top: -120px;
    visibility: hidden;
}

a.anchorFoot {
    position: relative;
    top: -110px;
    visibility: hidden;
}

.footnote_link {
    display: inline-block;
    width: 2em;
    text-align: right;
    margin: 0 .7em 0 -2.7em;
}

.footnotes li {
    list-style: none;
    padding: .3em 0;
}

.footnotes {
    padding: 1em;
}

.wp-transcript {
    margin: 2em auto;
}

.wp-transcript .card-header {
    padding: 2em 0;
}

#editor-widget {
    position: fixed;
    max-width: 100px;
    padding: .5em;
    background-color: #88dbdf;
    border-radius: 1rem;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .1);
}

.navBarNavDropdown {
    position: relative;
    z-index: 999;
    display: flex;
    text-align: center;
}

.navBarNavDropdown a {
    position: relative;
    display: block;
    z-index: 0;
}

.navBarNavDropdown {
    position: relative;
    display: block;
    z-index: 999;
}

.navBarNavDropdown ul li {
    margin: .5em auto;
    z-index: 999;
}

#staticSearch {
    padding: 2em;
}

/* Datatables, provided by https://github.com/babslgam*/

div.dataTables_filter {
  text-align:left !important;
}

.btn-link {
  font-size:20px;
}

.exportbuttons {
  text-align: right;
}

.navbar {
    border-bottom: 3px solid {{cookiecutter.color_main}} !important;
    background-color: #fff;
}

.dataTables_info {
  text-align: center;
}

.filters input {
  width:100%;
  padding: 3px;
  box-sizing: border-box;
}

.dataTables_wrapper table {
  width:100%;
}

.footer-separator {
    border-top: 1px solid #f1f1f1;
    padding: 2em 0;
}

/**** Font Aweseome ***/
.far {
    font-family: "Font Awesome 5 Free" !important;
}

.img-fluid {
    max-width: 70px !important;
}

.card {
    margin-top: 1em;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .1);
}

.intro {
    background-color: #fff;
}

.index-card {
    border-top: 5px solid {{cookiecutter.color_main}}; 
    transition: transform .2s;
}

.index-card:hover {
    transform: scale(1.05);
}

.index-link:hover {
    text-decoration: none !important;
}

.btn-round {
    border: 1px solid white;
}

.btn-round:hover {
    background-color: {{cookiecutter.color_hover}} !important;
}

.btn-round a {
    color: white;
}

p {
    display: block;
}

.carousel-indicators {
    cursor: pointer;
}

span.ssQueryAndButton {
    margin: 2em auto 0.25em auto !important;
    max-width: 50% !important;
    width: 50% !important;
}

input#ssQuery {
    font-size: .9rem !important;
    border-radius: 30px !important;
    padding: .3rem 1.75rem .3rem .75rem !important;
    border: 1px solid rgba(0,0,0,.075) !important;
    background-color: #fff !important;
    color: rgba(0,0,0,.9) !important;
}

button#ssDoSearch {
    border: 0 !important;
    padding: 0 !important;
    background: 0 0 !important;
    cursor: pointer !important;
    color: rgba(0,0,0,.6) !important;
    margin-left: -4.1em !important;
    margin-top: .1em !important;
}

#github-logo {
    width: 10%;
    height: auto;
    padding: 10px 0 10px 0;
    transition: transform .2s;
    margin-left: 1em;
}

#github-logo:hover {
    transform: scale(1.05);
}

/*
####################################
proposed mobile resolution handling
####################################
*/
@media (max-width: 1920px) {
    #editor-widget {
        right: 5%;
    }
/* 
#########################################
add rules for HD screen resolution
#########################################
*/
}

@media (max-width: 1200px) {
    #editor-widget {
        right: 1%;
        top: 12%;
    }
/* 
#########################################
add rules for screen medium to low
resolution
#########################################
*/
}

@media (max-width: 1024px) {
    .navbar .navbar-collapse {
        border-top: 1px solid rgba(0,0,0,.075);
        padding-top: 2rem;
        margin-top: .5rem;
    }
/* 
#########################################
add rules for smallest tablet high
resolution or low resolution screens
#########################################
*/
}

@media (max-width: 768px) {
    .facsimiles {
        display: none;
    }
    #aot-navbarNavDropdown .dropdown-menu li:nth-child(-n + 1) {
        display: none !important;
    }
    .text {
        padding-left: 0;
    }
    
/* 
#########################################
add rules for smallest smartphones 
high resolution or tablet regular resolution
#########################################
*/
}

@media (max-width: 575px) {
    br {
        display: none;
    }
    li a br {
        display: block !important;
    }
    .dropdown-menu li a {
        max-width: 500px;
        overflow: hidden;
    }
/* 
#########################################
add rules for smallest smartphones 
regular resolution
#########################################
*/
}

@media (max-width: 480px) {
    .dropdown-menu li a {
        max-width: 400px;
        overflow: hidden;
    }
/* 
#########################################
add rules for smallest smartphones 
low resolution
#########################################
*/
}